#{field 'object.' + _name}
    <label for="${field.id}">
        &{_name}
    </label>
    <input id="${field.id}" class="${field.errorClass}" type="text" name="${field.name}" value="${_value?.format('dd/MM/yyyy HH:mm')}" size="16" />
    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
#{/field}
