{{>licenseInfo}}
package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}

{{#model}}

case class {{classname}} (
  {{#vars}}{{#description}}/* {{{description}}} */
  {{/description}}{{baseName}}: {{{datatype}}}{{#hasMore}},{{/hasMore}}{{^hasMore}}){{/hasMore}}
  {{/vars}}
{{/model}}
{{/models}}
